.complaints-page {
    padding: 20px;
    width: 100%;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
  }
  
  .complaints-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .complaints-tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .complaints-tab {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #161a2d;
  }
  
  .complaints-tab.active {
    background-color: #161a2d;
    color: white;
  }
  
  .complaints-content {
    text-align: center;
  }
  

  .branches-list ul {
    list-style: none;
    padding: 0;
  }
  
  .branch-item {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .complaints-section {
    margin-top: 20px;
  }
  
  .complaints-section h2 {
    font-size: 24px;
  }
  
  .complaints-section p {
    font-size: 18px;
  }

.complaint-item {
  display: flex;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  align-items: center;
}
.complaint-item h3 {
  min-width: 200px;
  text-align: left;
}
.complaint-item p {
  margin-left: 20px;
  text-align: left;
}

.complaints-wrapper {
  /* max-width: 800px;
  margin: 0 auto;
  padding: 20px; */
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
#branchSelect {
  z-index: 99;
  margin-top: 10px;
  width: 100%!important;
  min-width: 300px!important;
  max-width: 300px!important;
  transform: translateY(-5px);
  margin-right: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.page-item {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

.page-item.active {
  background-color: #161a2d;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.page-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}




  
  
  .complaints_loader {
    border: 8px solid #161a2d!important;
    border-top: 8px solid #f3f3f3!important;
    border-radius: 50%;
    width: 80px!important;
    height: 80px!important;
    animation: spin 1s linear infinite;
    margin: 140px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  